.header{
    background-color: black;
    color: white;
}
.container{
    margin-top: 60px;
    max-width: 100%;
    padding: 0;
}
.heading .title{
    text-transform: uppercase;
    font-family:'Bubbler One', sans-serif;
    font-weight: 700;
    margin-top: 100px;
}
.sort-items{
    color: black;
}
.sort :hover{
    text-decoration: none;
    color: #F77F00;
}   